<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
    </style>
    <title>Syllabus Reader - Success</title>
</head>
<body>
    <div class="container">
        <h1>Submission Successful</h1>
        <p>Your search query and syllabus file have been successfully submitted.</p>
    </div>
    <div class="footer-bar">
        <p>&copy; 2024 Syllabus Reader | <a style="color:white" href="#">Terms and Conditions</a></p>
    </div>
</body>
</html>
